  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="">YumStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="http://localhost:4200/">Home</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link" href="https://github.com/kazisr">About Dev</a></li>
            </ul>
            <form>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li><a *ngIf="loginservice.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
                </ul>
              </div>
            </form>


            <form class="d-flex">
              <button class="btn btn-outline-dark" type="button" (click)="cartItems()" data-bs-target="#cart"
                      data-bs-toggle="modal">
                <i class="bi-cart-fill me-1"></i>
                View Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill">{{cartTota}}</span>
              </button>
            </form>

        </div>
    </div>
</nav>

  <div>
    <section class="vh-100 gradient-custom"
             style="background-color: #ffffff;background-repeat: no-repeat, repeat;background-size: cover;background-image: url()">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">

                <div class="mb-md-4 mt-md-4 pb-5">


                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="text-white-50 mb-5">Please enter your login and password!</p>

                  <div class="form-outline form-white mb-4">
                    <input [(ngModel)]="username" type="email" id="typeEmailX" class="form-control form-control-lg"/>
                    <label class="form-label" for="typeEmailX">Username</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input [(ngModel)]="password" type="password" id="typePassword"
                           class="form-control form-control-lg"/>
                    <label class="form-label" for="typePassword">Password</label>
                  </div>

                  <button (click)=checkLogin() class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                  <div>
                    <br><br>
                    <button class="btn btn-outline-light btn-lg px-5" data-bs-target="#modalRegisterForm"
                            data-bs-toggle="modal">Create a new account
                    </button>
                  </div>
                  <label class="form-label" for="typeEmailX"><p class="text-white-50 mb-5">Not registered!</p></label>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <div class="modal fade" id="modalRegisterForm" tabindex="-1" aria-labelledby="modalRegisterFormLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="modalRegisterFormLabel">Sign Up</h1>
          <small><br><br>Please fill this form to create an account</small>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #updateForm = "ngForm" (ngSubmit)="addUser(updateForm.value )" class="row g-1">
              <div class="col-md-4">
                <label for = "userFirstName"class="form-label">First Name</label>
                <input name = "userFirstName" [(ngModel)] = "userData.userFirstName"  type="text" class="form-control" required>
              </div>

              <div class="col-md-8">
                <label for = "userLastName" class="form-label">Last Name</label>
                <input name = "userLastName" [(ngModel)] = "userData.userLastName"  type="text" class="form-control" required>
              </div>

              <div class="col-md-7">
                  <label for="userName"  class="form-label">Username</label>
                  <input name = "userName" [(ngModel)] = "userData.userName" type="text" class="form-control"  required>
                </div>


                <div class="col-md-7">
                  <label for="password"  class="form-label">Password</label>
                  <input name = "password" [(ngModel)] = "userData.password" type="text" class="form-control"  required>
                </div>


              <div class="col-md-7">
                  <label for = "userEmail" class="form-label">Email</label>
                  <input name = "userEmail" [(ngModel)] = "userData.userEmail"  type="text" class="form-control" required>
                </div>

                <div class="col-md-12">
                  <label for = "userContactNumber" class="form-label">Contact Number</label>
                  <input name = "userContactNumber" [(ngModel)] = "userData.userContactNumber"  type="text" class="form-control" required>
                </div>

                <div class="col-md-12">
                  <label for = "userAddress" class="form-label">Address</label>
                  <input name = "userAddress" [(ngModel)] = "userData.userAddress"  type="text" class="form-control" required>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" required>
                  <label class="form-check-label" for="flexCheckChecked">
                    I accept the Terms of use & Privacy policy
                  </label>
                </div>

                <button type="submit" class="btn btn-outline-dark"aria-label="Close" data-bs-dismiss="modal">Sign Up</button>
              </form>
        </div>
      </div>
    </div>
  </div>
